.campaign-dashboard-section {
    .cds-user-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 10px;
      border-radius: 10px;
      &:hover {
        background: #eee;
      }
    }
}

.modal {
    .icon-checkbox-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon-checkbox {
            margin: 0px 3px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}