.campaign-dashboard-section {
    .cds-campaign-image {
        height: 80px;
        width: 80px;
        object-fit: contain;
        border-radius: 40px;
        background-color: $palette_blue_green;
    }
    .cds-campaign-underline {
        border-bottom: 2px solid $palette_yellow;
        padding-bottom: 5px;
    }
    .cds-campaign-underline-blue {
        border-bottom: 2px solid $palette_blue;
        padding-bottom: 5px;
        margin-bottom: 1.2rem;
    }
    .cds-card-header {
        color: $palette_dark;
    }
}

.modal {
    .modal-title-user-data {
        padding-bottom: 0;   
        .modal-title {
            width: 100%;
            border-bottom: 2px solid $palette_yellow;
            padding-bottom: 2rem;
            .h3 {
                margin-bottom: 1.2rem;
            }
        }
    }
    .cds-ct-user-rating {
        .cds-ct-ur-border-bottom {
            border-bottom: 2px solid $palette_yellow;
            padding-bottom: 1rem;
        }
        .cds-ct-ur-star {
            height: 30px;
            width: 30px;
            margin-right: 10px;
            &:hover {
                cursor: pointer;
                background-color: $palette_yellow !important;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .cds-ct-user-image {
            height: 70px;
            width: 70px;
            border-radius: 40px;
            background-color: $palette_yellow;
        }
        .cds-ct-user-name {
            display: block;
            font-size: 1rem;
            line-height: 1rem;
        }
        .cds-ct-user-otherinfo {
            display: block;
            font-size: 0.7rem;
        }
        .cds-ct-user-textarea {
            height: 150px;
            font-size: 0.9rem;
        }
    }
    .cds-campaign-table {
        width: 100%;
        td {
            padding: 10px;
        }
        tbody {
            .cds-ct-user-image {
                height: 50px;
                width: 50px;
                border-radius: 30px;
                background-color: $palette_yellow;
            }
            .cds-ct-user-hover {
                &:hover {
                    cursor: pointer;
                }
            }
            .cds-ct-user-name {
                display: block;
                font-size: 1rem;
                line-height: 1rem;
            }
            .cds-ct-user-rate {
                width: 12px;
                height: 12px;
            }
            .cds-ct-user-otherinfo {
                display: block;
                font-size: 0.7rem;
            }
            .cds-ct-user-rate-button {
                font-size: 0.7rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .cds-sort-cursor {
            &:hover {
                cursor: pointer;
            }
        }
        .cds-ct-sort-icons {
            width: 12px;
            height: 12px;
        }
    }
}