.chat-section {
    display: flex;
    flex-direction: row;
    margin-bottom: -32px;
    overflow: auto;
    z-index: 3;
    .cs-left-part {
        width: 375px;
        min-width: 375px;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 170px);
        padding: 3px 0.75rem;
        visibility: hidden;
        transition: ease 0.35s;
        .cs-lp-nav {
            position: absolute;
            visibility: visible;
            width: calc(375px - 1.5rem);
            z-index: 1;
            opacity: 1;
        }
        &:hover {
            visibility: visible;
        }
        .cs-lp-users {
            margin-top: 3rem;
            visibility: visible;
            .cs-lp-chatbox-white {
                background: #ffffff;
                &:hover {
                    background-color: #ececec;
                }
            }
            .cs-lp-chatbox-dark {
                background: $palette_blue;
                color: #ffffff;
            }
            .cs-lp-chatbox {
                border-radius: 5px;
                padding: 0.75rem;
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
                margin: 0.75rem 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                &:first-child {
                    margin-top: 10px;
                }
                &:last-child {
                    margin-bottom: 10px;
                }
                &:hover {
                    cursor: pointer;
                }
                .cs-lp-cb-image-container {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-right: 1rem;
                    .cs-lp-cb-image-wrapper {
                        img {
                        width: 50px;
                        height: 50px;
                        border-radius: 30px;
                        object-fit: cover;
                        }
                    }
                    .cs-lp-cb-online {
                        width: 15px;
                        height: 15px;
                        border: 2px solid #ffffff;
                        border-radius: 12px;
                        position: absolute;
                        background-color: $green;
                        z-index: 1;
                        display: inline-block;
                    }
                }
                .cs-lp-cb-chat-info {
                    .cs-lp-cb-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        h5 {
                            width: 195px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .cp-lp-cb-message {
                            width: 225px;
                            font-size: 80%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            margin-right: 0.5rem;
                        }
                        .cs-lp-cb-notification-wrapper {
                            height: 17px;
                            width: 17px;
                            .cs-lp-cb-notification {
                                height: 17px;
                                width: 17px;
                                background-color: $red;
                                color: #ffffff;
                                border-radius: 10px;
                                align-items: center;
                                justify-content: center;
                                display: flex;
                                small {
                                    font-size: 60%;
                                    line-height: 80%;
                                }
                            }
                        }
                    }
                }
            }
            .cs-lp-nonconvouser-container {
                .cs-lp-nc-wrapper {
                    background-color: #fff;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 50px;
                    padding: 7px;
                    &:hover {
                        cursor: pointer;
                        background-color: #ececec;
                    }
                    &:first-child {
                        margin-top: 0px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .cs-lp-nc-w-img-wrapper {
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                        overflow: hidden;
                        margin-right: 15px;
                    }
                    h5 {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
    .cs-right-part {
        height: calc(100vh - 170px);
        min-width: 450px;
        flex-basis: auto; /* default value */
        flex-grow: 1;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        z-index: 1;
        .cs-rp-header-container {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            button {
                position: absolute;
                left: 10px;
            }
        }
        .cs-rp-convo-container {
            padding: 2.25rem 1.25rem 1.25rem;
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
            background: #f9f9f9;
            .cs-rp-cc-loader {
                display: flex;
                align-items: center;
                height: 100%;
            }
            .cs-rp-c-user {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                margin-bottom: 1rem;
                .cs-rp-cu-image-wrapper {
                    flex-shrink: 0;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 30px;
                        object-fit: cover;
                    }
                }
                .cs-rp-cu-message-container {
                    margin-left: 0.5rem;
                    padding-right: 2rem;
                    .cs-rp-cu-message {
                        margin: 2px 0px;
                        &:first-child {
                            margin-top: 0px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        p {
                            display: inline-block;
                            padding: 0.5rem 1rem;
                            background: #efefef;
                            border-radius: 0px 15px 15px 0px;
                            font-size: 0.8rem;
                            margin-bottom: 0;
                            max-width: 700px;
                            white-space: pre-wrap;
                        }
                        &:first-child {
                            p {
                                border-top-left-radius: 15px;
                            }
                        }
                        &:last-child {
                            p {
                                border-bottom-left-radius: 15px;
                            }
                        }
                    }
                }
            }
            .cs-rp-c-client {
                margin-bottom: 1rem;
                .cs-rp-cc-message-container {
                    text-align: right;
                    .cs-rp-cc-message {
                        margin: 2px 0px;
                        padding-left: 4.5rem;
                        &:first-child {
                            margin-top: 0px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        p {
                            display: inline-block;
                            padding: 0.5rem 1rem;
                            background: $palette_blue;
                            color: #ffffff;
                            border-radius: 15px 0px 0px 15px;
                            font-size: 0.8rem;
                            margin-bottom: 0;
                            text-align: left;
                            max-width: 700px;
                            white-space: pre-wrap;
                        }
                        &:first-child {
                            p {
                                border-top-right-radius: 15px;
                            }
                        }
                        &:last-child {
                            p {
                                border-bottom-right-radius: 15px;
                            }
                        }
                    }
                }
            }
        }
        .cs-rp-message-container {
            .cs-rp-mc-textarea {
                font-size: 0.8rem;
                resize: none;
            }
            .cs-rp-mc-send-icon {
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    opacity: 0.5;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    &:hover {
        background: #737373;
    }
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

// For Internet Explorer
body {
  scrollbar-face-color: #888;
  scrollbar-track-color: #f1f1f1;
}