.message-section {
    .ms-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
        }
    }
    .ms-list-active {
        background-color: #37abb470;
    }
    .ms-list-hover {
        background-color: #37abb440;
    }
    .ms-search-result {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 30px;
        border-width: 1px;
        border-color: #000;
        &:hover {
            cursor: pointer;
        }
    }
    .ms-search-result-hover {
        background-color: #37abb440;
    }
    .ms-convo-container {
        .ms-cc-header {
            box-shadow: 0px -3px 10px 0px rgba(161,161,161,0.75);
        }
        .ms-cc-body {
            .ms-cc-b-bubble {
                &:first-child {
                    margin-top: 30px !important;
                }
            }
        }
        .ms-cc-footer {
            box-shadow: 0px 3px 10px 0px rgba(161,161,161,0.75);
        }
    }
}