.signup-container{
    height:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .signup-form{
        label, input{
            font-family: $avenir-light;
            color: black;
        }
        input{
            border: 1px solid $blue;
            border-radius: 0px;
        }
        span{
            color:#de1828;
            margin-bottom: 10px;
            display: block;
        }
        .app-logo{
            width:80%;
            height: auto;
            margin-bottom: 20px;
        }
        button{
            display:block;
            margin:auto;
            margin-bottom:20px;
            font-family: $avenir-roman;
            background: none;
            background-color: $blue;
            color:white;
            padding:5px 20px;
            &:hover,&:active{
                background: none!important;
                background-color: $light-blue!important;
            }
        }
    }
}